<div class="w-3/5 p-2 m-auto text-sm">
  <h1 class=" font-bold text-2xl ">{{nameMusic}}</h1>
  <br>
  <p>
    Tom: <b class="text-orange-500">{{tom}}</b>
  </p>
  <br>
  <p>
    Afinação: Db Ab Db Gb Bb Eb
  </p>
</div>

<div class="w-3/5 bg-cyan-50 p-1 m-auto pl-20 text-sm" style=" font-family: Consolas;">
  <p>
    Intro:
  </p>

  Eb|--------------------------------------------------------------------13-13-16-16--17--|<br>
  Bb|----------------------------------------------------13-13-15-15----------------------|<br>
  Gb|--------------------------------------------13-13------------------------------------|<br>
  Db|--0-0---0-0---------------12-12-15-15------------------------------------------------|<br>
  Ab|--0-0---0-0--------12-12-------------------------------------------------------------|<br>
  Db|--0-0---0-0--------------------------------------------------------------------------|<br>

  <br>
  Eb|--------------------------------------------------------------------------------------------|<br>
  Bb|--------------------------------------------------------------------------------------------|<br>
  Gb|--------------------------------------------------------------------------------------------|<br>
  Db|--0-0---0-0------------------------15-15-15-15-12-12-12-12----------------------------------|<br>
  Ab|--0-0---0-0-------12-12-12-12------------------------------12-12-12-12------------11-11-11--|<br>
  Db|--0-0---0-0---------------------------------------------------------------------------------|<br>

  <br>
  Eb|--------------------------------------------------------------------13-13-16-16--20b(21)--|<br>
  Bb|----------------------------------------------------13-13-15-15---------------------------|<br>
  Gb|--------------------------------------------13-13-----------------------------------------|<br>
  Db|--0-0---0-0---------------12-12-15-15-----------------------------------------------------|<br>
  Ab|--0-0---0-0--------12-12------------------------------------------------------------------|<br>
  Db|--0-0---0-0-------------------------------------------------------------------------------|<br>

  <br>
  Eb|------------------------------------------------------------------------------------------|<br>
  Bb|---------------------(gradually bend the 14 up to 15 over the course of picking 14)-------|<br>
  Gb|--------------------14-14-14-14-14-14-14-14-14-14-14-14-14-14-14b(15)---------------------|<br>
  Db|--0-0---0-0-------------------------------------------------------------------------------|<br>
  Ab|--0-0---0-0-------------------------------------------------------------------------------|<br>
  Db|--0-0---0-0-------------------------------------------------------------------------------|<br>

  <br>
  Verso: <br>
  <br>
  Eb|--------------------------------------------------------------------13-13-16-16--17--|<br>
  Bb|----------------------------------------------------13-13-15-15----------------------|<br>
  Gb|--------------------------------------------13-13------------------------------------|<br>
  Db|--0-0---0-0---------------12-12-15-15------------------------------------------------|<br>
  Ab|--0-0---0-0--------12-12-------------------------------------------------------------|<br>
  Db|--0-0---0-0--------------------------------------------------------------------------|<br>
  <br>
  Eb|-------------------------------------------------------------------------------------------|<br>
  Bb|-------------------------------------------------------------------------------------------|<br>
  Gb|-------------------------------------------------------------------------------------------|<br>
  Db|--0-0---0-0------------------------15-15-15-15-12-12-12-12---------------------------------|<br>
  Ab|--0-0---0-0-------12-12-12-12-------------------------------12-12-12-12-----------11-11-11-|<br>
  Db|--0-0---0-0--------------------------------------------------------------------------------|<br>
  <br>
  Eb|--------------------------------------------------------------------13-13-16-16--20b(21)--|<br>
  Bb|----------------------------------------------------13-13-15-15---------------------------|<br>
  Gb|--------------------------------------------13-13-----------------------------------------|<br>
  Db|--0-0---0-0---------------12-12-15-15-----------------------------------------------------|<br>
  Ab|--0-0---0-0--------12-12------------------------------------------------------------------|<br>
  Db|--0-0---0-0-------------------------------------------------------------------------------|<br>
  <br>
  Eb|-------------------------------------------------------------------------------------------|<br>
  Bb|-------------------------------------------------------------------------------------------|<br>
  Gb|-------------------------------------------------------------------------------------------|<br>
  Db|--0-0---0-0--------------------------------------------------------------------------------|<br>
  Ab|--0-0---0-0--------------------------------------------------------------------------------|<br>
  Db|--0-0---0-0--------------------------------------------------------------------------------|<br>
  <br>
  Pré-Refrão:<br>
  <br>
  Eb|-----------------------------------------------------------------------------------------|<br>
  Bb|-----------------------------------------------------------------------------------------|<br>
  Gb|-----------------------------------------------------------------------------------------|<br>
  Db|-----------0--0-------------0-0--3---5--6--------------0--0-------------0-0--6---5--3----|<br>
  Ab|-----------0--0-------------0-0--3---5--6--------------0--0-------------0-0--6---5--3----|<br>
  Db|--3/12~----0--0----3/12~----0-0--3---5--6-----3/12~----0--0----3/12~----0-0--6---5--3----|<br>
  <br>
  Eb|----------------------------------------------------------------------------------------|<br>
  Bb|----------------------------------------------------------------------------------------|<br>
  Gb|----------------------------------------------------------------------------------------|<br>
  Db|-----------0--0-------------0-0--3---5-6--1-1-1-1-1-1-1-1-1-1-1-1-1---------------------|<br>
  Ab|-----------0--0-------------0-0--3---5-6--1-1-1-1-1-1-1-1-1-1-1-1-1---------------------|<br>
  Db|--3/12~----0--0----3/12~----0-0--3---5-6--1-1-1-1-1-1-1-1-1-1-1-1-1---------------------|<br>
  <br>
  (Repete Verso) <br>
  <br>
  (Repete Pré-Refrão) <br>
  <br>
  Pré-Refrão 2: <br>
  <br>
  Eb|-------------------------------------| <br>
  Bb|-------------------------------------| <br>
  Gb|-------------------------------------| 4x <br>
  Db|-5-5-5-5-5-5-5-5--7-7-7-7-7-7-7-7----| <br>
  Ab|-5-5-5-5-5-5-5-5--7-7-7-7-7-7-7-7----| <br>
  Db|-5-5-5-5-5-5-5-5--7-7-7-7-7-7-7-7----| <br>
  <br>
  Refrão: <br>
  <br>
  Eb|------------------------------------------------------------| <br>
  Bb|------------------------------------------------------------| <br>
  Gb|------------------------------------------------------------| <br>
  Db|----------7--8----------------------------------------------| 2x <br>
  Ab|-5---x-5--5--6-----8---x-8---10--10----0--------1-----------| <br>
  Db|-5---x-5-----------8---x-8---10--8-----0--------1-----------| <br>

  <br>
  Base do Solo: <br>
  <br>
  Eb|------------------------------------------------------------------------------| <br>
  Bb|------------------------------------------------------------------------------| <br>
  Gb|------------------------------------------------------------------------------| <br>
  Db|--0-0-----0-0-0----0-2-2-----2-2-2----2-8-8-----8-8-8-----8-7-7----7-7-7----7-| 2x <br>
  Ab|--0-0-----0-0-0----0-2-2-----2-2-2----2-8-8-----8-8-8-----8-7-7----7-7-7----7-| <br>
  Db|--0-0-----0-0-0----0-2-2-----2-2-2----2-8-8-----8-8-8-----8-7-7----7-7-7----7-| <br>
  <br>
  Solo: <br>
  <br>
  Eb|-171613--1316-------171612--1216------181713--1317---161514--1415161514-1415/21201817182021--| <br>
  Bb|-------14-----(X4)--------13-----(X4)-------14----(X4)-----17----------17--------------------| <br>
  Gb|---------------------------------------------------------------------------------------------| 2x <br>
  Db|---------------------------------------------------------------------------------------------| <br>
  Ab|---------------------------------------------------------------------------------------------| <br>
  Db|---------------------------------------------------------------------------------------------| <br>
  <br>
  Dual Solo: <br>
  <br>
  Eb|------------------------------------------------------------------------------------| <br>
  Bb|-------------------------------------------11------------------10-------------------| <br>
  Gb|-7-9-10-7-9-10-/14----7-9-10-7-/15---14------12------------12----9-9-7-9-10-9-7-----| <br>
  Db|-----------------------------------------------12--------12-------------------------| 4x <br>
  Ab|-------------------------------------------------13-10-13---------------------------| <br>
  Db|------------------------------------------------------------------------------------| <br>
  <br>
  Eb|-------------------------------------------10------------------9--------------------| <br>
  Bb|-6-8-10-6-8-10-/15----6-8-10-6-/20---18------11-----------------10-8-6-8-10-8-6-----| <br>
  Gb|-----------------------------------------------12--------12-------------------------| <br>
  Db|-------------------------------------------------12----12---------------------------| <br>
  Ab|----------------------------------------------------13------------------------------| <br>
  Db|------------------------------------------------------------------------------------| <br>
  <br>
  Breakdown: <br>
  <br>
  Eb|-----------------------------------------------------------------------------------------| <br>
  Bb|-----------------------------------------------------------------------------------------| <br>
  Gb|-----------------------------------------------------------------------------------------| <br>
  Db|---------------------------------------------------------------------0-0-6------5---3----| <br>
  Ab|---------------------------------------------------------------------0-0-6------5---3----| <br>
  Db|-3/12--3/12--3/12-------3/12-3/12-3/12----3/12--3/12--3/12------3/12-0-0-6------5---3----| <br>
  <br>
  Eb|------------------------------------------------------------------------------------| <br>
  Bb|------------------------------------------------------------------------------------| <br>
  Gb|------------------------------------------------------------------------------------| <br>
  Db|-------------------------------------------------------1--1--1--1--1--1--1--1--1--1-| <br>
  Ab|-------------------------------------------------------1--1--1--1--1--1--1--1--1--1-| <br>
  Db|-3/12--3/12--3/12-------3/12-3/12-3/12----3/12--3/12---1--1--1--1--1--1--1--1--1--1-| <br>
  <br>
  (Pré-Refrão 4x) <br>
  <br>
  (Refrão 2x) <br>
  <br>
  Outro: <br>
  <br>
  Eb|-------------------------------------------------------------------------------| <br>
  Bb|-------------------------------------------------------------------------------| <br>
  Gb|-------------------------------------------------------------------------------| <br>
  Db|--0-0---0-0-------------------------------0-0---0-0----------------------------| <br>
  Ab|--0-0---0-0-------------------------------0-0---0-0----------------------------| <br>
  Db|--0-0---0-0-------------------------------0-0---0-0----------------------------| <br>
  <div>
    | <br>
  </div>
  <div>
    | 4x <br>
  </div>

  <br>
  Eb|-------------------------------------------------------------------------------| <br>
  Bb|-------10--10--10--10--10--10--10--10------------------------------------------| <br>
  Gb|---------12--10--12--10--12--10--12--10----------------------------------------| <br>
  Db|-------------------------------------------------------------------------------| <br>
  Ab|-------------------------------------------------------------------------------| <br>
  Db|-------------------------------------------------------------------------------| <br>
</div>
<hr class="mt-36">